<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Customer Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="customer$ | async as customer">
    <h1 class="ion-padding" data-testid="customer-name">
      {{customer.name}}
      <span *ngIf="!customer.isActive" data-testid="inactive-tag"
        >(Inactive)</span
      >
    </h1>

    <ion-list>
      <ion-list-header>Customer Contract</ion-list-header>
      <app-info-item
        label="Support Hours per Year"
        value="{{customer.supportHours}}"
      ></app-info-item>
      <app-info-item
        *ngIf="customer.hasAdvisory"
        label="Advisor"
        value="{{customer.primaryAdvisor}}"
      ></app-info-item>

      <ion-list-header>Task Breakdown</ion-list-header>
      <app-customer-task-summary
        *ngFor="let taskType of taskTypes"
        [taskType]="taskType"
        [customerId]="customerId"
      >
      </app-customer-task-summary>
      <app-customer-task-summary
        [customerId]="customerId"
      ></app-customer-task-summary>
    </ion-list>

    <ion-fab
      *ngIf="customer.isActive"
      vertical="bottom"
      horizontal="end"
      slot="fixed"
    >
      <ion-fab-button color="secondary">
        <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button
          id="add-timer-button"
          color="light"
          (click)="addTimer(customer)"
          data-testid="add-timer-button"
        >
          <ion-icon name="timer-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button
          id="edit-button"
          color="light"
          (click)="edit(customer)"
          data-testid="edit-customer-button"
        >
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab
      *ngIf="!customer.isActive"
      vertical="bottom"
      horizontal="end"
      slot="fixed"
    >
      <ion-fab-button
        id="edit-button"
        color="secondary"
        (click)="edit(customer)"
        data-testid="edit-customer-button"
      >
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
