<ion-header>
  <ion-toolbar color="primary">
    <ion-title> About </ion-title>
    <ion-buttons slot="primary">
      <ion-button id="logout-button" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <div class="about-info">
    <div class="title">Personal Task Timer</div>
    <ion-icon name="timer"></ion-icon>
    <div class="version">
      <ion-list>
        <ion-list-header>Information</ion-list-header>
        <ion-item>
          <ion-label>Version</ion-label>
          <ion-note slot="end">{{version}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Tag Line</ion-label>
          <ion-note slot="end">{{tag}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Author</ion-label>
          <ion-note slot="end">{{author}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Release Date</ion-label>
          <ion-note slot="end">{{date | date}}</ion-note>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
