<ion-item-sliding>
  <ion-item>
    <ion-label (click)="edit()">
      <div class="title">[{{ timer.customer }}]: {{ timer.title }}</div>
      <div class="sub-title">
        {{ timer.type }}
      </div>
      <div class="sub-title">
        {{ timer.date | date }}
      </div>
      <div class="sub-title">
        {{ timer.task }}
      </div>
    </ion-label>
    <ion-button color="secondary" slot="end" [fill]="timer.startTime ? 'solid' : 'outline'" (click)="toggle()">
      {{ timer.minutes + runningMinutes }}</ion-button
    >
  </ion-item>

  <ion-item-options>
    <ion-item-option color="danger" (click)="delete()">
      Delete
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
