<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <div class="about-info">
    <div class="title">Personal Task Timer</div>
    <ion-icon name="timer"></ion-icon>
    <div class="version">
      <div><span class="label">Version: </span>{{ appVersion?.version }} - {{ appVersion?.name }}</div>
      <div><span class="label">Released: </span>{{ appVersion?.date | date }}</div>
    </div>
  </div>
</ion-content>
