<ion-header>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="display">
      <ion-segment-button value="all">All</ion-segment-button>
      <ion-segment-button value="active">Active</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="display === 'all'">
    <ion-item
      *ngFor="let customer of allCustomers$ | async"
      [ngClass]="{'inactive': !customer.isActive}"
      [routerLink]="['customer', customer.id]"
      data-testid="customer-item"
    >
      <ion-label>{{customer.name}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="display === 'active'">
    <ion-item
      *ngFor="let customer of activeCustomers$ | async"
      [routerLink]="['customer', customer.id]"
      data-testid="customer-item"
    >
      <ion-label>{{customer.name}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      id="add-button"
      color="secondary"
      (click)="add()"
      data-testid="add-customer-button"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
