<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button id="logout-button" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Today </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-timer-list-item *ngFor="let timer of timers$ | async" [timer]="timer"></app-timer-list-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="add-button" color="secondary" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
