<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let project of projects$ | async">
      <ion-label>{{project.name}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      id="add-button"
      color="secondary"
      (click)="add()"
      data-testid="add-project-button"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
