<ion-header>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="display" data-testid="segment">
      <ion-segment-button value="today">Today</ion-segment-button>
      <ion-segment-button value="week">This Week</ion-segment-button>
      <ion-segment-button value="history">30 Days</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="display === 'today'">
    <app-timer-list-item
      *ngFor="let timer of todayTimers$ | async"
      [timer]="timer"
    ></app-timer-list-item>
  </ion-list>

  <ion-list *ngIf="display === 'week'">
    <app-timer-list-item
      *ngFor="let timer of weekTimers$ | async"
      [timer]="timer"
    ></app-timer-list-item>
  </ion-list>

  <ion-list *ngIf="display === 'history'">
    <app-timer-list-item
      *ngFor="let timer of historyTimers$ | async"
      [timer]="timer"
    ></app-timer-list-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      id="add-button"
      color="secondary"
      (click)="add()"
      data-testid="add-timer-button"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
