<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Customer Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="customer$ | async as customer">
    <h1 class="ion-padding">{{customer.name}}</h1>

    <ion-list>
      <ion-list-header>Customer Contract</ion-list-header>
      <app-info-item label="Support Hours per Year" value="{{customer.supportHours}}"></app-info-item>
      <app-info-item *ngIf="customer.hasAdvisory" label="Advisor" value="{{customer.primaryAdvisor}}"></app-info-item>
      <app-info-item *ngIf="customer.hasCapacitor" label="Capacitor"></app-info-item>
      <app-info-item *ngIf="customer.hasAuthConnect" label="Auth Connect"></app-info-item>
      <app-info-item *ngIf="customer.hasIdentityVault" label="Identity Vault"></app-info-item>
      <app-info-item *ngIf="customer.hasOfflineStorage" label="Offline Storage"></app-info-item>
      <app-info-item *ngIf="customer.hasStencil" label="Stencil"></app-info-item>

      <ion-list-header>Task Breakdown</ion-list-header>
      <app-customer-task-summary
        *ngFor="let taskType of taskTypes$ | async"
        [taskType]="taskType"
        [customerId]="customerId"
      >
      </app-customer-task-summary>
      <app-customer-task-summary [customerId]="customerId"></app-customer-task-summary>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button id="add-button" color="secondary" (click)="edit(customer)">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
